*/*/build
*/*/*/build
*.iml
*/*.iml
*/*/*.iml
*/*/*/*.iml
*/.gradle
*/*/.gradle
*/local.properties
*/.idea/workspace.xml
*/.idea/libraries
*/.DS_Store
*/build
*/captures
*/.externalNativeBuild
*/*/*/*.log
*/*/*.log
*/*.log